In [601]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [602]:
data = pd.read_csv('data.csv')
display(data.head(3))

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015

In [603]:
len(data)

1890

# Предобработка датасета

In [604]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [605]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
#answer_ls.append(1)

display(data['original_title'].loc[[data['budget'].idxmax()]])
answer_ls.append(4)

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [606]:
#answer_ls.append(1)
display(data['original_title'].loc[[data['runtime'].idxmax()]])
answer_ls.append(2)

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [607]:
display(data['original_title'].loc[[data['runtime'].idxmin()]])
answer_ls.append(3)

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [608]:
display(data['runtime'].mean())
#display(data['original_title'].loc[[data['runtime'].idxmax()]])
answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [609]:
display(data['runtime'].median())
answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [610]:
display(data['original_title'].loc[[(data['revenue'] - data['budget']).idxmax()]])
answer_ls.append(5)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [611]:
display(data['original_title'].loc[[(data['revenue'] - data['budget']).idxmin()]])
answer_ls.append(2)

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [612]:
print(len(data['original_title'].loc[(data['revenue'] - data['budget'] > 0)]))
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [613]:
var_df = data.loc[data['release_year'] == 2008]
display(var_df['original_title'].loc[[(var_df['revenue'] - var_df['budget']).idxmax()]])
answer_ls.append(4)

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [614]:
var_df = data.loc[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
display(var_df['original_title'].loc[[(var_df['revenue'] - var_df['budget']).idxmin()]])
answer_ls.append(5)

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [615]:
#display(data['genres'].unique())
#data['genres'].unique()
Counter(data.genres.str.split('|').sum())
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [616]:
small_data = data.loc[(data['revenue'] - data['budget'] > 0)]
Counter(small_data.genres.str.split('|').sum())
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [617]:
data['director'].value_counts().max()
data['director'].value_counts()
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [618]:
small_data = data.loc[data['revenue'] - data['budget'] > 0]
small_data['director'].value_counts().max()
small_data['director'].value_counts()
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [619]:
small_data = data.loc[data['revenue'] - data['budget'] > 0]
small_data['director'].value_counts()
directors = []
profit = []
for director in range(0, len(small_data['director'])):     #Because of '|' in some directors positions I need to cut some of them
    direct = small_data['director'].iloc[director]
    if '|' in direct:
        for d in direct.split('|'):
            directors.append(d)
            profit.append(small_data['revenue'].iloc[director] - small_data['budget'].iloc[director])
    else:
        directors.append(direct)
        profit.append(small_data['revenue'].iloc[director] - small_data['budget'].iloc[director])
        
pd.DataFrame({'directors': directors, 'profit': profit}).groupby(['directors']).sum().profit.idxmax()
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [620]:
small_data = data.loc[data['revenue'] - data['budget'] > 0]
small_data['cast'].value_counts()
directors = []
profit = []
for director in range(0, len(small_data['cast'])):     #Because of '|' in some directors positions I need to cut some of them
    direct = small_data['cast'].iloc[director]
    if '|' in direct:
        for d in direct.split('|'):
            directors.append(d)
            profit.append(small_data['revenue'].iloc[director] - small_data['budget'].iloc[director])
    else:
        directors.append(direct)
        profit.append(small_data['revenue'].iloc[director] - small_data['budget'].iloc[director])
pd.DataFrame({'directors': directors, 'profit': profit}).groupby(['directors']).sum().profit.idxmax()
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [621]:
small_data = data.loc[data.release_year == 2012]
small_data['cast'].value_counts()
directors = []
profit = []
for director in range(0, len(small_data['cast'])):     #Because of '|' in some directors positions I need to cut some of them
    direct = small_data['cast'].iloc[director]
    if '|' in direct:
        for d in direct.split('|'):
            directors.append(d)
            profit.append(small_data['revenue'].iloc[director] - small_data['budget'].iloc[director])
    else:
        directors.append(direct)
        profit.append(small_data['revenue'].iloc[director] - small_data['budget'].iloc[director])
pd.DataFrame({'directors': directors, 'profit': profit}).groupby(['directors']).sum().profit.idxmin()
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [622]:
small_data = data.loc[data.budget > data.budget.median()]
small_data['cast'].value_counts()
directors = []
for director in range(0, len(small_data['cast'])):     #Because of '|' in some directors positions I need to cut some of them
    direct = small_data['cast'].iloc[director]
    if '|' in direct:
        for d in direct.split('|'):
            directors.append(d)
    else:
        directors.append(direct)
        
pd.Series(directors).value_counts()
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [623]:
genres = []
for i in range (0, len(data)):
    if 'Nicolas Cage' in data.cast.iloc[i]:
        genres.append(data.genres.iloc[i])
        
Counter(pd.Series(genres).str.split('|').sum())
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [624]:
studios = []
for i in range (0, len(data)):
    studios.append(data.production_companies.iloc[i])
#Counter(pd.Series(studios).str.split('|').sum())
#answer_ls.append(2)

pd.Series(pd.Series(studios).str.split('|').sum()).value_counts()
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [625]:
studios = []
small_data = data.loc[data.release_year == 2015]
for i in range (0, len(small_data)):
    studios.append(small_data.production_companies.iloc[i])
#Counter(pd.Series(studios).str.split('|').sum())
#answer_ls.append(2)

pd.Series(pd.Series(studios).str.split('|').sum()).value_counts()
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [626]:
data['profit'] = data['revenue'] - data['budget']
bool_list = []
for i  in range(0, len(data)):
    bool_list.append('Comedy' in data.genres.str.split('|').iloc[i])
small_data = data[bool_list]

profits = []
studios = []
for i in range (0, len(small_data)):
    var = small_data.production_companies.iloc[i].split('|')
    for j in range (0, len(var)):
        studios.append(var[j])
        profits.append(small_data.profit.iloc[i])

df = pd.DataFrame({'studios': studios, 'profit': profits})
display(df.groupby(['studios'])['profit'].sum().sort_values(ascending=False))
answer_ls.append(2)

studios
Universal Pictures                        8961545581
Walt Disney Pictures                      7669710326
Twentieth Century Fox Film Corporation    5686960294
Columbia Pictures                         5646343696
DreamWorks Animation                      4789049764
                                             ...
Warner Bros. Pictures                      -54738687
Shangri-La Entertainment                   -55170786
Dark Horse Entertainment                   -68351500
Road Rebel                                 -71331093
Mel's Cite du Cinema                       -92896027
Name: profit, Length: 702, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [627]:
small_data = data.loc[data.release_year == 2012]
profits = []
studios = []
for i in range (0, len(small_data)):
    var = small_data.production_companies.iloc[i].split('|')
    for j in range (0, len(var)):
        studios.append(var[j])
        profits.append(small_data.profit.iloc[i])

df = pd.DataFrame({'studios': studios, 'profit': profits})
display(df.groupby(['studios'])['profit'].sum().sort_values(ascending=False))

answer_ls.append(3)

studios
Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Warner Bros.          1258020056
Relativity Media      1032593938
                         ...
Jouror Productions     -51893525
Onyx Films             -51893525
Transfilm              -51893525
Studio 37              -51893525
France 2 CinÃ©ma       -82545651
Name: profit, Length: 236, dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [628]:
bool_list = []
for i  in range(0, len(data)):
    bool_list.append('Paramount Pictures' in data.production_companies.str.split('|').iloc[i])
small_data = data[bool_list]

data.original_title.iloc[small_data.profit.idxmin()]
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [629]:
#var_df = data.loc[data['release_year'] == 2008]
#display(var_df['original_title'].loc[[(var_df['revenue'] - var_df['budget']).idxmax()]])

data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [630]:
small_data = data[data.production_companies.str.contains('Bros')]
small_data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [631]:
#data.groupby(['release_date'])['profit'].sum().sort_values(ascending=False)

#small_data = data[data.production_companies.str.contains('Bros')]
#small_data.groupby(['release_date'])['profit'].sum().sort_values(ascending=False)
films = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,]
for i in range(0, len(data)):
    films[int(data.release_date.str.split('/').iloc[i][0]) - 1] += 1
films

answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [632]:
films[5]+films[6]+films[7]
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [633]:
years = []
for i in range(0, len(data)):
    years.append(int(data.release_date.str.split('/').iloc[i][0]))
data['release_month'] = pd.Series(years)
data.query('release_month==12 | release_month==1 | release_month==2')['director'].value_counts().head()
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [634]:
small_data = data.pivot_table(columns = 'release_year', index = 'release_month', values = 'profit', aggfunc = 'sum', fill_value = 0)
small_data.idxmax()
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [635]:
films = []
studios = []
for i in range (0, len(data)):
    var = data.production_companies.iloc[i].split('|')
    for j in range (0, len(var)):
        studios.append(var[j])
        films.append(len(data.original_title.iloc[i]))

df = pd.DataFrame({'studios': studios, 'films': films})
grouped = df.groupby(['studios'])['films']
display(grouped.mean().sort_values(ascending=False))
answer_ls.append(5)

studios
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: films, Length: 1772, dtype: float64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [636]:
films = []
studios = []
for i in range (0, len(data)):
    var = data.production_companies.iloc[i].split('|')
    for j in range (0, len(var)):
        studios.append(var[j])
        films.append(len(data.original_title.iloc[i].split()))

df = pd.DataFrame({'studios': studios, 'films': films})
grouped = df.groupby(['studios'])['films']
display(grouped.mean().sort_values(ascending=False))
answer_ls.append(5)

studios
Four By Two Productions                  12.0
Jim Henson Company, The                  10.0
Polsky Films                              9.0
The Saul Zaentz Company                   9.0
Dos Corazones                             9.0
                                         ...
Many Rivers Productions                   1.0
Maple Shade Films                         1.0
Blue Productions                          1.0
Blue Sea Productions                      1.0
Great Wight Productions/ Osford Films     1.0
Name: films, Length: 1772, dtype: float64

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [637]:
words = []
seria = data.original_title
for i in range(0, len(seria)):
    word = seria.iloc[i].lower().split()
    for j in word:
        words.append(j)
len(set(words))
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [638]:
display(data.sort_values('vote_average', ascending = False).head(15).original_title)
answer_ls.append(1)

600                                   The Dark Knight
125                                The Imitation Game
9                                          Inside Out
118                                      Interstellar
34                                               Room
1082    The Lord of the Rings: The Return of the King
873                                       The Pianist
1801                                          Memento
1192                                 12 Years a Slave
128                                         Gone Girl
138                          The Grand Budapest Hotel
119                           Guardians of the Galaxy
1184                          The Wolf of Wall Street
370                                         Inception
316                                          3 Idiots
Name: original_title, dtype: object

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [639]:
combinations = {}
seria = data.cast.str.split('|')
actors_groups = seria.to_list()

for group in actors_groups:
    work_var = sorted(group)
    for j in range(0, len(work_var)-1):
        for k in range(j + 1, len(work_var)):
            if combinations.get(work_var[j] + ' & ' + work_var[k], ['None']) == ['None']:
                combinations[work_var[j] + ' & ' + work_var[k]] = 1
            else:
                combinations[work_var[j] + ' & ' +work_var[k]] += 1
                           
m = max(combinations.values())
final_dict = {k:v for k, v in combinations.items() if v == m}
final_dict
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [640]:
small_data = data.loc[data.profit > 0]
probability = {}

seria1 = small_data['director'].value_counts()
seria2 = data['director'].value_counts()

for i in range(0, len(seria1)):
    probability[seria1.index[i]] = float(seria1[seria1.index[i]]) / float(seria2[seria1.index[i]])
m = max(probability.values())
final_dict = {k:v for k, v in probability.items() if v == m}
final_dict
print(probability['Quentin Tarantino'], probability['Steven Soderbergh'], probability['Robert Rodriguez'], probability['Christopher Nolan'], probability['Clint Eastwood'])


#В final_dict все режиссёры, у кого все фильмы были прибыльными. Из представленных вариантов ответа таких двое. 
#Я выбрал Christopher Nolan, так как у него по количеству больше фильмов было снято.

seria2['Christopher Nolan']
answer_ls.append(4)

1.0 0.7692307692307693 0.8571428571428571 1.0 0.8333333333333334

# Submission

In [641]:
len(answer_ls)

36

In [642]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4